[submodule "auth_server"]
    path = auth_server
    url = https://github.com/halfass-it/auth_server
[submodule "gameplay_server"]
    path = gameplay_server
    url = https://github.com/halfass-it/gameplay_server
[submodule "bot"]
    path = bot
    url = https://github.com/halfass-it/bot
